{% extends 'base.html.twig' %}

{% block title %}Hello MainController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 1000px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }

    #hed{font-size: 14px;}
</style>

<div class="example-wrapper">
    <h1>DetectLanguage API</h1><hr> <span>Table below holds previoulsy saved results from API. Click Send button to make new request and store it in this history.</span> <br>
    <label for='inp'>Type text for language recognition</label><br>
	<textarea cols="50" name='inp' id="input" rows="3"></textarea><br>
    <button class="btn btn-primary my-auto" onclick="request()">Send Recognition Request & write to database</button>

<table class="mt-3 table table-secondary table-hover">
  <theadclass="thead-dark">
    <tr>
      <th scope="col">Requested At</th>
      <th scope="col">Source Text</th>
      <th scope="col">Recognized language</th>
      <th scope="col">isReliable</th>
      <th scope="col">Confidence score</th>
    </tr>
  </thead>
  <tbody id="hed">
     {% for r in recs|reverse %} 
     <tr class="{% if loop.index%2 == 0 %}{% set bg = 'table-warning' %}{% else %}{% set bg = 'table-success' %}{% endif %}{{bg}}">
        <td>{{r.requestedAt|date('H:m d-m-Y')}}</td>
        <td>{{r.souceText}}</td>
        <td>{{r.recognitions[0].recognizedLang}}</td>
        <td>{% if r.recognitions[0].isReliable == 1 %}yes{% else %}no{% endif %}</td>
        <td>{{r.recognitions[0].confidenceScore}}</td>
    </tr>
      {% for ro in r.recognitions %}
        {% if loop.index != 1 %}
          <tr class="{{bg}}">
            <td></td>
            <td></td>
            <td>{{ro.recognizedLang}}</td>
            <td>{% if ro.isReliable == 1 %}yes{% else %}no{% endif %}</td>
            <td>{{ro.confidenceScore}}</td>
        </tr>
        {% endif %}
      {% endfor %}
    {% endfor %}
  </tbody>
</table>


</div>
{% endblock %}

{% block javascripts %}
{{ parent() }}

<script>

function request()
{
	let url = "{{path ('lng') }}";

	$.ajax({
		url: url,
		method: "post", 
		data: JSON.stringify(
			{'q':$("#input").val()})
		})
	.done(res => 
	{ 
        if (res == '0')
            alert("Request failed");
        else
        {
            let json = JSON.parse(res);
            console.log(json);

            let trc = '';
            
            json.data.detections.forEach(function(detection) 
            {
                let tdHtml = `<td scope="row">${detection.language}</td><td scope="row">${detection.isReliable}</td><td scope="row">${detection.confidence}</td>`;
                
                if(trc == '')
                {
                  trc = '<tr>';
                  trc += '<td scope="row">now (frontend)</td><td scope="row">'+$("#input").val()+'</td>'+tdHtml+'</tr>';
                }
                else
                {
                  trc += '<tr>';
                  trc += '<td scope="row"></td><td scope="row"></td>'+tdHtml+'</tr>';
                }
            });

            $("#hed").prepend(trc+'</tr>');
        }
        

		
	});
}
</script>
{% endblock %}
